@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: #929D7F;
  --color-primary-100: #939e801a;
  --color-primary-200: #939d8033;
  --color-primary-300: #939d804d;
  --color-primary-400: #939d8066;
  --color-primary-500: #939d8080;
}